{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block main_content %}
    <!-- post block -->
    <div class="blog-post">
        <h3 class="blog-post-title"><a>{{ object.title|title }}</a></h3>
        <p class="blog-post-meta">{{ object.posted_time }} by <a href="#">{{ object.author }}</a></p>
        <hr>
        <p class="markdown-content">{{ object.content|safe }}</p>
    </div>
    <hr>
    <div class="blog-category">
        {% url 'blog:category' object.category.id as category_id %}
        <p>Categories: <a href="{{ category_id }}">{{ object.category }}</a>
        </p>
    </div>
    <div class="blog-tag">
        <p>Tags:
            {% for tag in post.tag.all %}
                <a href="#">{{ tag }}</a>
                {% if not forloop.last %}
                    |
                {% endif %}
            {% endfor %}
        </p>
    </div>
    <hr style="margin-bottom: 3rem">
    <!-- comments block -->
    {% include 'blog/comments.html' %}
    <script>
        function reply(comment_name, comment_id) {
            $('#content').attr('placeholder', 'Reply to ' + comment_name + ':');
            $('#reply').val(comment_id)
        }

        function onload() {     // put this function in body element to load session
            $('#name').val('{{ session.name }}');
            $('#email').val('{{ session.email }}');
            $('#content').val('{{ session.content }}')
        }
    </script>
{% endblock %}