<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Custom CSS  -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/blog.css' %}">
    <!-- block title -->
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body onload="onload()">
<!-- navigation block -->
{% include 'blog/nav.html' %}
<!-- main block -->
<main role="main" class="container">
    <div class="row" style="padding-top: 40px">
        <div class="col-md-8 blog-main">
            {% block main_content %}This is main content!{% endblock %}
        </div>
        {% include 'blog/sidebar.html' %}
    </div>
    <hr class="featurette-divider">
    <!-- footer block -->
    {% include 'blog/bottom.html' %}
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>